<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>345837473636-3uisbund955ibli2npddeg6fvloodm57.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.345837473636-3uisbund955ibli2npddeg6fvloodm57</string>
	<key>API_KEY</key>
	<string>AIzaSyDnrDLnCpvMqMDUEZw8ePKNoj1ZMAbvluI</string>
	<key>GCM_SENDER_ID</key>
	<string>345837473636</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iOSAthon.CricKit</string>
	<key>PROJECT_ID</key>
	<string>crickit-655b9</string>
	<key>STORAGE_BUCKET</key>
	<string>crickit-655b9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:345837473636:ios:cf3ed898d6fdf473263471</string>
</dict>
</plist>