<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>707775792390-8m8qqfshb2em3umq9nktdvb5q80skh4g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.707775792390-8m8qqfshb2em3umq9nktdvb5q80skh4g</string>
	<key>API_KEY</key>
	<string>AIzaSyBUTOhdmYcq5_9P5Hx5eaRfmeZkeX1G0b0</string>
	<key>GCM_SENDER_ID</key>
	<string>707775792390</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iOSAthon.CricKit</string>
	<key>PROJECT_ID</key>
	<string>crickitapp-9c9db</string>
	<key>STORAGE_BUCKET</key>
	<string>crickitapp-9c9db.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:707775792390:ios:e40b9b528adaddb7a34a87</string>
</dict>
</plist>